<?xml version="1.0" encoding="utf-8"?>

<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	package="com.gpl.rpg.AndorsTrail"
	android:versionCode="64"
	android:versionName="0.7.17"
	android:installLocation="auto"
	>
	<uses-sdk 
		android:minSdkVersion="4"
		android:targetSdkVersion="30"
		/>
	
	<supports-screens
		android:smallScreens="true" 
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"
		/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


	<application 
		android:name="com.gpl.rpg.AndorsTrail.AndorsTrailApplication"
		android:label="@string/app_name" 
		android:icon="@drawable/icon"
		android:description="@string/app_description"
        android:allowBackup="true"
        android:theme="@style/AndorsTrailTheme_Blue"
		android:requestLegacyExternalStorage="true"
		android:hasFragileUserData="true"
		android:preserveLegacyExternalStorage="true"
		>
		<activity 
		    android:name="com.gpl.rpg.AndorsTrail.activity.StartScreenActivity"
		    android:clearTaskOnLaunch="true"
		    >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
   		<activity 
			android:name="com.gpl.rpg.AndorsTrail.activity.MainActivity"
			android:label="@string/app_name" 
			android:theme="@style/AndorsTrailTheme_Blue.NoBackground"
			/>
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.HeroinfoActivity" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.MonsterInfoActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.ItemInfoActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.LevelUpActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.MonsterEncounterActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.ConversationActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.ShopActivity" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.AboutActivity" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.LoadingActivity" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.Preferences" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.LoadSaveActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.ActorConditionInfoActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.BulkSelectionInterface" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.SkillInfoActivity" android:theme="@style/AndorsTrailDialogTheme_Blue" />
		<activity android:name="com.gpl.rpg.AndorsTrail.activity.DisplayWorldMapActivity" />

        <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.gpl.rpg.AndorsTrail.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/fileprovider" />
		</provider>
	</application>
	
</manifest>
