Source: andors-trail
Section: games
Priority: optional
Maintainer: Javier Serrano Polo <javier@jasp.net>
Build-Depends: android-sdk, android-sdk-platform-23, apksigner,
 default-jdk-headless, gettext, gradle, libgradle-android-plugin-java
Standards-Version: 3.9.8

Package: andors-trail
Architecture: all
